version: '3.9'
services:
  backend:
    build: ./backend
    container_name: laravel_app
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    container_name: angular_app
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app

  mysql:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: myapp
    ports:
      - "3317:3306"
    volumes:
      - db:/var/lib/mysql

volumes:
  db:
